<div id="page">
  <app-nav></app-nav>
  <!-- /header -->
  <main>
    <div class="hero_in cart_section last">
      <div class="wrapper">
        <div class="container">
          <div class="bs-wizard clearfix">
            <div class="bs-wizard-step">
              <div class="text-center bs-wizard-stepnum">Your cart</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a [routerLink]="" fragment="" class="bs-wizard-dot"></a>
            </div>

            <div class="bs-wizard-step">
              <div class="text-center bs-wizard-stepnum">Payment</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a [routerLink]="" fragment="" class="bs-wizard-dot"></a>
            </div>

            <div class="bs-wizard-step active">
              <div class="text-center bs-wizard-stepnum">Finish!</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a [routerLink]="" fragment="" class="bs-wizard-dot"></a>
            </div>
          </div>
          <!-- End bs-wizard -->
          <div id="confirm">
            <h4>Order completed!</h4>
            <p>You'll receive a confirmation email at mail@example.com</p>
          </div>
        </div>
      </div>
    </div>
    <!--/hero_in-->
  </main>
  <!-- /main -->

  <app-footer></app-footer>
  <!-- Footer component -->
</div>
<!-- page -->

<div id="toTop"></div><!-- Back to top button -->