/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

#preloader {
  background-color: rgba(255,255,255,.6);
}

.main-menu > ul > li span> a.active, header.sticky .main-menu > ul > li span > a.active{
  color: #fc5b62;
}

button:disabled, button:disabled:hover{
  background: grey;
  cursor: text;
}

.hero_in.package_details:before{
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.hero_in.package_details .wrapper{
  background-color: rgba(0, 0, 0, 0.6);  
}
