<div id="page">
  <app-nav></app-nav>
  <!-- /header -->
  <main>
    <section class="hero_in package_details start_bg_zoom">
      <div class="wrapper">
        <div class="container">
          <h1 class="fadeInUp animated"><span></span>{{package.title}}</h1>
        </div>
      </div>
    </section>
    <div class="bg_color_1">
      <nav class="secondary_nav sticky_horizontal">
        <div class="container">
          <ul class="clearfix">
            <li><a [routerLink]="" fragment="description" class="active">Description</a></li>
            <li><a [routerLink]="" fragment="reviews">Reviews</a></li>
            <li><a href="#sidebar">Booking</a></li>
          </ul>
        </div>
      </nav>
      <div class="container margin_60_35">
        <div class="row">
          <div class="col-lg-8">
            <section id="description">
              <h2>Description</h2>
              <p>{{package.description}}</p>
              <hr>
              <h3>Program <small>(60 minutes)</small></h3>
              <p>
                Iudico omnesque vis at, ius an laboramus adversarium. An eirmod doctus admodum est, vero numquam et mel, an duo modo error. No affert timeam mea, legimus ceteros his in. Aperiri honestatis sit at. Eos aeque fuisset ei, case denique eam ne. Augue invidunt has ad, ullum debitis mea ei, ne aliquip dignissim nec.
              </p>
              <hr>
              <p>Mea appareat omittantur eloquentiam ad, nam ei quas <strong>oportere democritum</strong>. Prima causae admodum id est, ei timeam inimicus sed. Sit an meis aliquam, cetero inermis vel ut. An sit illum euismod facilisis, tamquam vulputate pertinacia eum at.</p>
              <div class="row">
                <div class="col-lg-6">
                  <ul class="bullets">
                    <li>Dolorem mediocritatem</li>
                    <li>Mea appareat</li>
                    <li>Prima causae</li>
                    <li>Singulis indoctum</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="bullets">
                    <li>Timeam inimicus</li>
                    <li>Oportere democritum</li>
                    <li>Cetero inermis</li>
                    <li>Pertinacia eum</li>
                  </ul>
                </div>
              </div>
              <!-- /row -->
              
              <!-- End Map -->
            </section>
            <!-- /section -->

          </div>
          <!-- /col -->
          
          <aside class="col-lg-4" id="sidebar">
            <div class="box_detail booking">
              <div class="price">
                <span>{{package.price}}$ <small>person</small></span>
                <div class="score"><span>Good<em>350 Reviews</em></span><strong>7.0</strong></div>
              </div>

              <div class="form-group">
                <input class="form-control" type="text" name="dates" placeholder="When..">
                <i class="icon_calendar"></i>
              </div>
              <div class="panel-dropdown">
                <a [routerLink]="" fragment="">Guests <span class="qtyTotal">1</span></a>
                <div class="panel-dropdown-content right">
                  <div class="qtyButtons">
                    <label>Adults</label>
                    <input type="text" name="qtyInput" value="1">
                  </div>
                  <div class="qtyButtons">
                    <label>Childrens</label>
                    <input type="text" name="qtyInput" value="0">
                  </div>
                </div>
              </div>
              <button type="button" (click)="onAddCart(package)" class="btn_1 full-width purchase">Purchase</button>
              <a [routerLink]="" fragment="" class="btn_1 full-width outline wishlist"><i class="icon_heart"></i> Add to wishlist</a>
              <div class="text-center"><small>No money charged in this step</small></div>
            </div>
            <ul class="share-buttons">
              <li><a class="fb-share" [routerLink]="" fragment=""><i class="social_facebook"></i> Share</a></li>
              <li><a class="twitter-share" [routerLink]="" fragment=""><i class="social_twitter"></i> Tweet</a></li>
              <li><a class="gplus-share" [routerLink]="" fragment=""><i class="social_googleplus"></i> Share</a></li>
            </ul>
          </aside>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>

  </main>
  <!-- /main -->

  <app-footer></app-footer>
  <!-- Footer component -->
</div>
<!-- page -->

<div id="toTop"></div><!-- Back to top button -->