<div id="page">
  <app-nav></app-nav>
  <!-- /header -->
  <main>
    <section class="hero_single version_2 start_bg_zoom">
      <div class="wrapper">
        <div class="container">
          <h3>Book unique experiences</h3>
          <p>Expolore top rated tours, hotels and restaurants around the world</p>
          <form>
            <div class="row no-gutters custom-search-input-2">
              <div class="col-lg-4">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Hotel, City...">
                  <i class="icon_pin_alt"></i>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <input class="form-control" type="text" name="dates" placeholder="When..">
                  <i class="icon_calendar"></i>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="panel-dropdown">
                  <a href="#">Guests <span class="qtyTotal">1</span></a>
                  <div class="panel-dropdown-content">
                    <!-- Quantity Buttons -->
                    <div class="qtyButtons">
                      <label>Adults</label>
                      <input type="text" name="qtyInput" value="1">
                    </div>
                    <div class="qtyButtons">
                      <label>Childrens</label>
                      <input type="text" name="qtyInput" value="0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <input type="submit" class="btn_search" value="Search">
              </div>
            </div>
            <!-- /row -->
          </form>
        </div>
      </div>
    </section>
    <!-- /hero_single -->
    
    <div class="container-fluid margin_30_95 pl-lg-5 pr-lg-5">
      <section class="add_bottom_45">
        <div class="main_title_3">
          <span><em></em></span>
          <h2>Popular Destinations</h2>
          <p>Explore Multi day experiences from local agents</p>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6" *ngFor="let destination of destinations">
            <a href="hotel-detail.html" class="grid_item">
              <figure>
                <div class="score"><strong>{{destination.count}}</strong></div>
                <img [src]="destination.img" class="img-fluid" alt="">
                <div class="info">
                  <h3>{{destination.title}}</h3>
                </div>
              </figure>
            </a>
          </div>
          <!-- /grid_item -->
        </div>
        <!-- /row -->
      </section>
      <!-- /section -->
      
      <section>
        <div class="main_title_3">
          <span><em></em></span>
          <h2>Popular Activities</h2>
          <p>Explore single day experiences from local agents</p>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6" *ngFor="let activity of activities">
            <a href="restaurant-detail.html" class="grid_item">
              <figure>
                <div class="score"><strong>{{activity.count}}</strong></div>
                <img [src]="activity.img" class="img-fluid" alt="">
                <div class="info">
                  <h3>{{activity.title}}</h3>
                </div>
              </figure>
            </a>
          </div>
          <!-- /grid_item -->
        </div>
        <!-- /row -->
      </section>
      <!-- /section -->
    </div>
    <!-- /container -->

  </main>
  <!-- /main -->

  <app-footer></app-footer>
  <!-- Footer component -->
</div>
<!-- page -->

<div id="toTop"></div><!-- Back to top button -->