<div id="page">
  <app-nav></app-nav>
  <!-- /header -->
  <main>
    <section class="hero_in tours start_bg_zoom">
      <div class="wrapper">
        <div class="container">
          <h1 class="fadeInUp animated"><span></span>Add Packages</h1>
        </div>
      </div>
    </section>
    
    <div class="bg_color_1">
      <div class="container margin_80_55">
        <div class="row justify-content-between">
          <div class="col-lg-12">
            <h4>Add Package</h4>
            <div id="message-contact"></div>
            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="packageAdded">Package added successfully.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <form #packageForm="ngForm" id="packageForm" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Package Name</label>
                    <input type="text" class="form-control" #title="ngModel" [class.is-invalid]="title.invalid && title.touched" [(ngModel)]="packageData.title" name="title" required>
                    <small [class.d-none]="title.valid || title.untouched" class="text-danger">Package Name is required.</small>
                  </div>
                </div>
              </div>
              <!-- /row -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" #price="ngModel" [class.is-invalid]="price.invalid && price.touched" [(ngModel)]="packageData.price" name="price" required>
                    <small [class.d-none]="price.valid || price.untouched" class="text-danger">Package price is required.</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Category</label>
                    <input type="text" class="form-control" #category="ngModel" [class.is-invalid]="category.invalid && category.touched" [(ngModel)]="packageData.category" name="category" required>
                    <small [class.d-none]="category.valid || category.untouched" class="text-danger">Package Category is required.</small>
                  </div>
                </div>
              </div>
              <!-- /row -->
              <div class="row">
                <div class="col-md-12">
                  <label>Image</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" (change)="onFileSelected($event)" class="custom-file-input" id="inputGroupFile01" #img="ngModel" [class.is-invalid]="img.invalid && img.touched" [(ngModel)]="packageData.img" name="img" required>
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>
                  <small [class.d-none]="img.valid || img.untouched" class="text-danger">Package Image is required.</small>
                </div>
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" #description="ngModel" [class.is-invalid]="description.invalid && description.touched" [(ngModel)]="packageData.description" name="description" style="height:150px;" required></textarea>
                <small [class.d-none]="description.valid || description.untouched" class="text-danger">Package Description is required.</small>
              </div>
              <p class="add_top_30">
                <button type="button" [disabled]="packageForm.form.invalid" (click)="addPackage()" class="btn_1 rounded">Add Package</button>
              </p>
            </form>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>

  </main>
  <!-- /main -->

  <app-footer></app-footer>
  <!-- Footer component -->
</div>
<!-- page -->

<div id="toTop"></div><!-- Back to top button -->