<div id="page">
  <app-nav></app-nav>
  <!-- /header -->
  <main>
    <section class="hero_in tours start_bg_zoom">
      <div class="wrapper">
        <div class="container">
          <h1 class="fadeInUp animated"><span></span>Add Packages</h1>
        </div>
      </div>
    </section>
    
    <div class="bg_color_1">
      <div class="container margin_80_55">
        <div class="row justify-content-between">
          <div class="col-lg-12">
            <h4>Add Package</h4>
            <div id="message-contact"></div>
            <form method="post" action="assets/contact.php" id="contactform" autocomplete="off">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" id="name_contact" name="name_contact">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Last name</label>
                    <input class="form-control" type="text" id="lastname_contact" name="lastname_contact">
                  </div>
                </div>
              </div>
              <!-- /row -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" id="email_contact" name="email_contact">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Telephone</label>
                    <input class="form-control" type="text" id="phone_contact" name="phone_contact">
                  </div>
                </div>
              </div>
              <!-- /row -->
              <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" id="message_contact" name="message_contact" style="height:150px;"></textarea>
              </div>
              <p class="add_top_30"><input type="submit" value="Submit" class="btn_1 rounded" id="submit-contact"></p>
            </form>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>

  </main>
  <!-- /main -->

  <app-footer></app-footer>
  <!-- Footer component -->
</div>
<!-- page -->

<div id="toTop"></div><!-- Back to top button -->