<header class="header menu_fixed">
    <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
    <div id="logo">
      <a routerLink="/" routerLinkActive="active">
        <img src="assets/img/logo.png" width="150" height="36" data-retina="true" alt="" class="logo_normal">
        <img src="assets/img/logo_sticky.png" width="150" height="36" data-retina="true" alt="" class="logo_sticky">
      </a>
    </div>
    <a href="#menu" class="btn_mobile">
      <div class="hamburger hamburger--spin" id="hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </a>
    <nav id="menu" class="main-menu">
      <ul>
        <li>
          <span><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></span>
        </li>
        <li>
          <span><a routerLink="/packages" routerLinkActive="active">Packages</a></span>
        </li>
        <li>
          <span><a routerLink="/login" routerLinkActive="active">Login</a></span>
        </li>
        <li>
          <span><a routerLink="/register" routerLinkActive="active">Register</a></span>
        </li>
      </ul>
    </nav>
</header>